<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./Imagesfixed/Logo_icon.png" sizes="16x16" />
    <link rel="stylesheet" href="./CSS/bookdescription.css" />
    <title>Shared Shelf <%= book.title%></title>
  </head>
  <body>
    <div class="header">
      <div class="icon">
        <img src="./Imagesfixed/Logo.png" class="logoimage" />
      </div>
      <div class="headerlink">
        <div class="aboutusheader" id="headerlinkname"><a href="https://drive.google.com/file/d/1-_DmdHJU8nEt0Uz3rqsL9LnMNbhxshRA/view?usp=sharing" class="linkheader">About</a></div>
        <div class="contactheader" id="headerlinkname"><a href="https://www.linkedin.com/in/shreeya-gupta-a9819a261/" class="linkheader">Contact</a></div>
    </div>
    <div class="bookdetailsandimage">
      <div class="imageandoption">
        <div class="icon">
          <img src="./uploads/<%= book.bookimage %>" class="bookimage" />
        </div>
        <br>
        <div class="forms">
        <div class="formdescribe">
          <form action="/cartadd" method="post">
            <input
              type="text"
              name="id"
              value="<%= book._id %>"
              class="invisible"
            />
            <input
              type="text"
              name="active"
              value="<%= activeuser.outlook%>"
              class="invisible"
            />
            <button class="cart" id="optiondescription">Add to cart</button>
          </form>
        </div>
        <div class="formdescribe">
          <form action="/borrow" method="post">
            <input
              type="text"
              name="id"
              value="<%= book._id %>"
              class="invisible"
            />
            <input
              type="text"
              name="active"
              value="<%= activeuser.outlook%>"
              class="invisible"
            />
            <button class="borrow" id="optiondescription" style="padding: 3px 53px;">Borrow</button>
          </form>
        </div>
      </div>
      </div>
      <div class="detailsofbook">
        <div class="booktitle"><%= book.title %></div>
        <div class="author">Author: <%= book.author %></div><br><br>
        <div class="genre">
          <% for (let i = 0; i < genres.length; i++) { %>
              <span class="itemgenre"><%= genres[i] %></span>
          <% } %><br>
        <div class="description"><%= book.description %></div><br>        
        <div class="ownerdetail">Current owner details:</div>
        <div class="basicinfo">
        <div class="name"><%= activeuser.firstname%> <%= activeuser.lastname%></div>
        <div class="outlook"><%= activeuser.outlook%></div>
        <div class="hostel"><%= activeuser.hostel%></div>
        <div class="contact"><%= activeuser.contact%></div>
        </div>
      </div>
    </div>
  </body>
</html>
